
:root{
--light-color: rgb(145, 124, 124);
--light-color-alt: #afb6cd;
--dark-color: rgb(32, 32, 32);
--primary-background-color:rgb(248, 244, 244);
--secondary-background-color: #615f5f;
--transparent-light-color: #d9dbe0;

--font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
}

html {
    font-size: 62.5%; /* font-size: 10px; */
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
    font-size: var(--font-size-sm);
    font-family: Helvetica, sans-serif;
    color: var(--dark-color);
}


a {
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    color: inherit; 
}

ul{
    list-style: none;
}

.nav{
    background-color:var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}

.nav ul{
    display: flex;
    justify-content: space-between; 
    margin: 2rem;
}


.nav ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-sm);
}



.list-link:hover{
    color: var(--light-color);
}


h2, h3, i{
    color: var(--light-color);
    text-align: center;
}


#myfoto{
   width: 72rem;
}

#profile{
    display: flex;
    justify-content: space-between;
    border: .5rem solid var(--light-color-alt);
}

#name-container{
    text-align: center;
    margin: 0 4rem;
    margin-top: 9rem;
    
    color: var(--light-color);
}

#intro{
    display: flex-box;
}

#summary{
    margin: 5rem;
    text-align: center;
    border-bottom: 1px solid var(--light-color);
}

#skills{
    margin: 3rem;
    display: flex;
}

.skills-container{
 font-size: var(--font-size-sm); 
  background-color: var(--transparent-light-color);
  text-align: left;
  width: 25rem;
  border-radius: 10%;
  line-height: 5rem;
  margin: 2rem 2rem;
}


.skills-container:hover{
    background-color: white;
    border: 2px double var(--transparent-light-color);
}

.skills-container i {
    font-size: 2rem;
}



#education-courses{
    display: flex;
    flex-wrap: wrap;
}

.education{
    text-align: center;
    border: 10px double var(--transparent-light-color);
    padding: 1rem 2rem;
    margin: 2rem 5rem;
    width: 100%;
    align-items: center;
}


.education-item{
    padding: 2rem .5rem;
}

.education:hover{
    background-color: var(--transparent-light-color);
    border-color: white;
}

.education i {
    font-size: 3rem;
}



.courses{
    text-align: center;
    border: 10px double var(--transparent-light-color);
    padding: 1rem 3rem;
    margin: 2rem 5rem;
    width: 100%;
    align-items: center;
}

.courses i {
    font-size: 3rem;
}

.courses-item{
    padding: 2rem .5rem;
}

.courses-item li{
    border-top: 2px solid var(--transparent-light-color);
    transition: transform .2s; 
    
}



.courses-item li:hover{
    
    border-color: white;
    transform: scale(1.05); 
}



.experience-item{
    text-align: center; 
 
    border-bottom: 1px solid var(--light-color);
}

.experience-item p{
    font-size: var(--font-size-md);
    padding: 0 8rem;
}

.experience-item i {
    font-size: 3rem;
}



.code{
    border-bottom: 1px solid var(--light-color);
    text-align: center;
}

.code i {
    font-size: 3rem;
}

pre{
    font-size: var(--font-size-xsm);
    text-align: left;
    padding-left: 4rem;

    transition: transform .2s
}

pre:hover {
    transform: scale(1.01); 
}

.contacts-item{
    text-align: center;
    padding:  3rem;
    transition: transform .2s; 
}

.contacts-item i{
    font-size: 3rem;
}

.contacts-item:hover {
    background-color: var(--transparent-light-color);
    border-color: white;
    transform: scale(1.05); 
}
.contacts-item:hover  i{
   color: white;  
}

footer{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 2rem;
}

footer img {
    max-width: 50%;
}

footer h3{
    font-size: var(--font-size-sm);
    padding-top: 1rem;
    color: var(--dark-color);
}


@media (min-width: 768px) and (max-width: 1023px)  {
    .nav ul li{
        font-size: var(--font-size-md);
    }
    
    #name-container{
        padding-top: 8rem;
        text-align: center;
    }

    #summary{
        font-size: var(--font-size-md);
    }


    .skills-container{
        font-size: var(--font-size-md); 
        width: 35rem;
    }


    #skills{
        justify-content: space-around;
    }

    .contacts-item{
        display:inline-block;
        margin: 0 7rem;
    }
   

    pre{
        font-size: var(--font-size-sm);
    }

}


@media (min-width: 1024px) {
    .nav ul li{
        font-size: var(--font-size-md);
    }
    
    #name-container{
        padding-top: 12rem;
        padding-left: 30rem;
        text-align: center;
    }


    #intro{
        display: flex;
    }
    
    #summary{
        margin: 5rem;
        text-align: center;
        font-size: var(--font-size-md);
        border: none;
        margin: 15rem 10rem;
    }
    
    #skills{
        display: flex;
        flex-direction: column;
        margin: 8rem 2rem;
    }


     .skills-container{
       
        font-size: var(--font-size-md); 
        width: 30rem;
    }

    #skills{
        justify-content: center;
    } 

    #education-courses{
        font-size: var(--font-size-md);
        margin: 0 15rem;
    }

    .contacts-item{
        display:inline-block;
        margin: 0 7rem;
    }
   

    pre{
        font-size: var(--font-size-sm);
        padding-left: 30rem;
    }

}

} 